<div class="container">
    <div class="card p-5">
        <div class="card-body">
            <h5 class="card-title text-capitalize">{{name}} <span class="text-success">has been Signed IN!!</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{email}}</h6>
            <span>Back to </span><a href="/" class="card-link">Sign Up</a>
        </div>
    </div>
</div>