<!DOCTYPE html>
<html lang="en">

<head>
    {{>html_headers}}

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>user_cards}}
    </div>

    {{>footer}}
</body>

</html>